/*Tipografias*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*index*/
.background{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.secciones{
    display: flex;
    justify-content: flex-end;
}
.inicio{
    margin-top: 0px;
}
.titulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    margin-top: 20%;
}
.subTitulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
}

.botonI{
    color: rgb( 136, 86, 217);
}
.textoBoton{
    display: inline;
    color: rgb( 136, 86, 217);
}
.hiw{
    font-family: 'Open Sans', sans-serif;
    margin-top: 150px;
    font-weight: bold;
    text-align: center;
}
.parrafo{
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    color: grey;
    text-align: center;
}
.logHiw{
    display: flex;
    justify-content: center;
}
.titulosSecciones{
    font-family: 'Open Sans', sans-serif;
}
.separation{
    display: flex;
    justify-content: center;
}
.separationImg{
    width: 15%;
    height: 15%;
    margin-top: 10px;
}
.texto1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15px;
    text-align: center;
}

/*WHAT IS BUCKASURE*/

.background2{
    background-color: rgba(221, 217, 217, 0.418);
    height: auto;
    width: auto;
}
.seccion{
    margin-bottom: 150px;
}
.imagen{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.seccionTexto{
    margin-top: 200px;
}
.tituloW{
    margin-top: 200px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 0px;
}
.textoW{
    font-family: 'Open Sans', sans-serif;
    text-align: start;
    margin-right: 200px;
    font-size: 13px;
    margin-bottom: 50px;
}
ul{
    margin-bottom: 100px;
}
ul li h5{
    margin-top: 25px;
}
.t1{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: black;
    background-image: none;
}
.carousel-control-next-icon:after
{
content: '>';
font-size: 35px;
color: black;
}

.carousel-control-prev-icon:after {
content: '<';
font-size: 35px;
color: black;
}


.backNews{
    background-image: url("../img/backNews.png");
    width: 100%;
    height: 100%;
    background-size: cover;
}

/*newsletter*/
.box{
    display: flex;
    flex-direction: row;
}
.box__email{
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    width: 480px;
}
.boton{
    width: 150px;
}
.boton h6{
    color: black;
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}
::placeholder{
    color: whitesmoke;
    opacity: 1;
}


/*SHOWCASE*/
.hiw1{
    font-family: 'Open Sans', sans-serif;
    margin-top: 150px;
    font-weight: bold;
    text-align: center;
}
.parrafo1{
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    color: grey;
    text-align: center;
}

/*DOWNLOADS*/

.bgDown{
    background-image: url("../img/bgdown.png");
    width: auto;
    height: auto;
}
.down__titulo{
    font-family: 'Open Sans', sans-serif;
    margin-top: 70px;
    color: whitesmoke;
    text-align: center;
}
.down__texto{
    font-family: 'Open Sans', sans-serif;
    margin-top: 2%;
    color: whitesmoke;
    text-align: center;
    font-size: 15px;
}
.logosDown{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.botonDwn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.botonDwn button{
    width: 170px;
    border-radius: 15px;
    background-color: rgb( 136, 86, 217);
    margin-bottom: 100px;
}
.botonDwn a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: whitesmoke;
}
/*FOOTER*/
.pie{
    background-color: rgb( 15, 15, 20);
}
.pie__texto{
    color: whitesmoke;
    margin-top: 45px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
.pie__texto h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.pie__texto span{
    color: rgb( 136, 86, 217);
}


/*Aplicando medias Q*/

@media only screen and (max-width: 1199px){
    .navbar{
        background-color: rgba(153, 105, 230, 0.932);
    }
    .titulo{
        font-size: 45px;
    }
    .subTitulo{
        font-size: 25px;
    }
}
@media only screen and (max-width: 1024px){
    .navbar{
        background-color: rgba(153, 105, 230, 0.932);
    }
    .titulo{
        font-size: 45px;
    }
    .subTitulo{
        font-size: 25px;
    }
}
@media only screen and (max-width: 991px){
/*HOME*/
.titulo{
    font-size: 65px;
    text-align: center;
}
.subTitulo{
    font-size: 35px;
    text-align: center;
}
.div__botonI{
    display: flex;
    justify-content: center;
}
/*WHAT IS BUCKASURE*/
   .carousel-control-prev{
    display: none;
   }
   .carousel-control-next{
    display: none;
   }
   .espacio{
    margin-right: 0px;
   }
   .seccion{
    margin-bottom: 100px;
   }
   .imagen{
    justify-content: center;
    margin-top: 0px;
    }
   .seccion{
    display: flex;
    flex-direction: column-reverse;
   }
   .seccionTexto{
    margin-top: 0px;
    justify-content: center;
    }
    .tituloW{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    }
    .textoW{
    text-align: center;
    margin-right: 0px;
    font-size: 15px;
    }
    .t1{
    font-size: 12px;
    }
    ul li h5{
    margin-top: 15px;
    }
}
@media only screen and (max-width: 768px){
    .navbar{
        background-color: rgba(153, 105, 230, 0.932);
    }
    .titulo{
        font-size: 65px;
        text-align: center;
    }
    .subTitulo{
        font-size: 35px;
        text-align: center;
    }
    .divBoton{
        margin-left: 40%;
    }
    /*NEWSLETTER*/
    .box{
        display: flex;
        flex-direction: column;
    }
    .div__boton{
        margin-top: 45px;
        display: flex;
        justify-content: center;
    }
    .box__email{
        width: 95vw;
    }
    .boton{
        width: 40%;
    }
    /*SHOWCASE*/
    .showCase{
        display: none;
    }
}
@media only screen and (max-width: 425px){
    .navbar{
        background-color: rgba(153, 105, 230, 0.932);
    }
    .titulo{
        font-size: 65px;
        text-align: center;
    }
    .subTitulo{
        font-size: 35px;
        text-align: center;
    }
    .divBoton{
        margin-left: 40%;
    }
    /*NEWSLETTER*/
    .box{
        display: flex;
        flex-direction: column;
    }
    .div__boton{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .box__email{
        width: 95vw;
    }
    .boton{
        width: 40%;
    }
    /*SHOWCASE*/
    .showCase{
        display: none;
    }
}
@media only screen and (max-width: 375px){
    .navbar{
        background-color: rgba(153, 105, 230, 0.932);
    }
    .titulo{
        font-size: 65px;
        text-align: center;
    }
    .subTitulo{
        font-size: 35px;
        text-align: center;
    }
    .divBoton{
        margin-left: 40%;
    }
    /*NEWSLETTER*/
} 
@media only screen and (max-width: 320px){
    .navbar{
        background-color: rgba(153, 105, 230, 0.932);
    }
    .titulo{
        font-size: 35px;
        text-align: center;
    }
    .subTitulo{
        font-size: 20px;
        text-align: center;
    }
    .divBoton{
        margin-left: 25%;
    }
    /*WHAT IS BUCKASUR*/
    .t1{
        font-size: 12px;
        text-align: center;
        }
}

