/*Tipografias*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*Variables*/

/*index*/
.background{
    background-image: url("../../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.secciones{
    display: flex;
    justify-content: flex-end;
}
.colorBoton{
    color: rgb( 136, 86, 217);
}
.textoBoton{
    display: inline;
}

